# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/
.swc/
.open-next/
.wrangler/

# production
build/
dist/

# testing
coverage/

# env / secrets
.env
.env.*
!.env.example

# logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# OS
.DS_Store
Thumbs.db
*.pem

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# misc
*.local
.turbo
